<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EA_ZHOP-ADMINISTRATION</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg  ">
      <div class="container-fluid  ">
        <a class="navbar-brand mx-3" href="#">
          <img src="/images/EA_ZHOP_copyu.png" alt="Bootstrap" width="45" height="45" class="rounded-pill">
        </a>

        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="nav-links navbar-nav mx-5  nav-justified">
            <li class="nav-item ">
              <a class="nav-link active " aria-current="page" href="/admin/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn" href="/admin/users-management">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn" href="/admin/products-management">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn" href="/admin/orders-management">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn" href="/admin/sales-report">Sales Report</a>
            </li>
          </ul>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </header>
  <section>


    <div class="modal fade" tabindex="-1" id="adminMessageModal">
      <div class="modal-dialog">
        <div class="modal-content" style="background-color: #F3F2EE;">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="modalAdminMessage" class=""></p>
          </div>
        </div>
      </div>
    </div>


 <!-- Confirmation modal -->
 <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content" style="background-color: #F3F2EE;">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirm Your Action!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Are you sure you want to perform this action?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
              <button id="confirmButton" type="button" class="btn btn-dark text-warning">Confirm</button>
          </div>
      </div>
  </div>
</div>
    

    