<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EA_ZHOP</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="highlight card-header d-flex bg-black text-light align-items-center nav-fill px-2 "
      style="justify-content: space-between;">
      <p class="highlight-font">Free shipping, 30-day return or refund guarantee.</p>
      <div class="btn-highlight mx-5 py-1 d-flex">

        <a href="/signin" class="btn btn-outline-light">SignIn</a>
        <a href="/aboutus" class="btn btn-outline-light">Contact</a>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg  ">
      <div class="container-fluid  ">
        <a class="navbar-brand mx-3" href="#">
          <img src="/images/EA_ZHOP_copyu.png" alt="Bootstrap" width="45" height="45" class="rounded-pill">
        </a>
        
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="nav-links navbar-nav mx-5  nav-justified">
            <li class="nav-item ">
              <a class="nav-link active " aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn" href="/user/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn" href="/user/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn" href="/user/cart">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn" href="/aboutus">About Us</a>
            </li>
          </ul>
        </div>
        <div class="nav-buttons d-flex ">
          <div class="search">
            <a href="/user/products">
              <img src="/images/icons8-search-30.png" alt="" width="20" height="20">
            </a>
          </div>
          <div class="wishlist">
            <a href="/user/cart/#wishlist">
              <img src="/images/icons8-wishlist-30.png" alt="" width="20" height="20">
            </a>
          </div>
          <div class="cart">
            <a href="/user/cart">
              <img src="/images/icons8-cart-30.png" alt="" width="20" height="20">
            </a>
          </div>
          <div class="wallet">
            <a href="/user/profile">
              <img src="/images/icons8-wallet-30.png" alt="" width="20" height="20">
            </a>
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </header>
  <section>