</section>
<footer class="bg-black text-light p-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ft-banner">
                    <img src="/images/63097e4ef3bc0e9c48a42c9d13e44974.png" alt="" height="20">
                    <div class="quote h-75 d-flex align-items-center">
                        <i>The customer is at the heart of our unique business model.</i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="categories">
                    <h3>Category</h3>
                    <div class="opt-category">
                        <ul class="list-unstyled row">
                            <li><a href="/user/products" class="btn">Earpod</a></li>
                            <li><a href="/user/products" class="btn">NeckBand</a></li>
                            <li><a href="/user/products" class="btn">Headset</a></li>
                            <li><a href="/user/products" class="btn">Earphone</a></li>
                        </ul>
                        <ul class="list-unstyled row">
                            <li><a href="/user/products" class="btn">Charger</a></li>
                            <li><a href="/user/products" class="btn">Cable</a></li>
                            <li><a href="/user/products" class="btn">SmartWatches</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="help">
                    <h3>Help</h3>
                    <div class="help-msg h-75 d-flex align-items-center">
                        <p>For queries contact us: Manager, Eazhop-co Private Limited Unit no. 204 & 205, 2nd floor,
                            D-wing & E-wing, Corporate Avenue, Andheri Ghatkopar Link Road, Mumbai, Maharashtra-400093,
                            India</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="/javascripts/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>
</body>

</html>