<%- include('partials/adminHeader.ejs') %>

<div class="dashboard">
    <h2>Dash Board will be Visible Here!</h2>
</div>
<div class="col-12 logout m-5 ">
    <a href="/admin/logout" class="login btn btn-dark text-light ">logout</a>
</div>

<%- include('partials/adminFooter.ejs') %>