<%- include('partials/userHeader.ejs') %>

<div class="col-12 d-flex justify-content-center py-5">
    <div class="signup  my-5 p-5  fs-5 " style="background-color: #F3F2EE;">
        <h3>ERROR OCCURED!-</h3>
        <p>Some unFamiliar error Ocuured</p>
        <h1 class="text-warning">404</h1>
    </div>
</div>
<%- include('partials/userFooter.ejs') %>
