<%- include('partials/userHeader.ejs') %>


    <div class="container-fluid tab-name ">
        <h3 class="p-3 ">My Orders&GreaterGreater;</h3>
    </div>
    <div class="details mx-5 border-bottom border-3" id="#products-details">
        <div class="tab-hea  border-bottom border-2 my-3">
            <h3>Orders History</h3>
        </div>
        <div class="tab  my-5">
            <table class="table ">
                <thead class="fs-4 " style="position: sticky;top: 0;">
                    <tr>
                        <th scope="col" colspan="2" style="font-weight: 500;background-color: #E5E5E5;">Product Details
                        </th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Quantity</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Rating</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Status</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Option</th>
                    </tr>
                </thead>
                <tbody>

                    
                        <tr class="data-row ">
                            <td id="prd_image">
                                <img src="/images/EA_ZHOP_copyu.png" alt=""
                                    style="max-width: 50px; max-height: 50px;">
                            </td>
                            <td>
                                klhhj
                            </td>
                            <td>
                                QTY:5
                            </td>
                            <td>
                                <a href="/user/products" class="text-dark">Review & Rating</a>
                            </td>
                            <td>
                                delivered
                            </td>
                            <td>
                                fhggfhdh
                            </td>
                        </tr>

                        



                </tbody>
            </table>
        </div>
    </div>

    <%- include('partials/userFooter.ejs') %>