<%- include('partials/userHeader.ejs') %>

<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100 p-3"  >
        <div class="col-md-6 col-12">
            <div class="newPassTab p-3 rounded bg-light">
                <div class="text-center">
                    <h1 class="fs-5 fw-bolder text-decoration-underline" id="change_password">Change Password</h1>
                </div>
                <div class="error fs-6 m-3 p-2 bg-secondary text-center " style="max-width: 100%;">
                    <i class="text-warning" id="newPassErr"></i>
                </div>
                <form action="/user/new-password" method="post" id="newPassForm" onsubmit="event.preventDefault();  newPass()">
                    <div class="row mt-5">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="new_password" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="new_password" name="new_password">
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="confirm_password" class="form-label">Confirm New Password</label>
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                                <input type="hidden" class="form-control" id="user" name="user" value="<%= user %>">
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-dark text-warning">Update Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



    <%- include('partials/userFooter.ejs') %>