<%- include('partials/userHeader.ejs') %>

    <div class="tab d-flex justify-content-center align-items-center h-100 p-3" style="background-image: url('/images/bg-pass.jpg');background-repeat: no-repeat;">
        <div class="newPassTab p-2 rounded" style="width: fit-content;background-color: antiquewhite;">
            <div class="text-center">
                <h1 class=" fs-5 fw-bolder text-decoration-underline" id="change_password">Change Password</h1>
            </div>
            <form action="/user/new-password" method="post">
                <div class="">
                    <div class="new_password col mx-2 mt-5">
                        <label for="new_password" class="form-label">New Password</label>
                        <input type="password" class="form-input " id="new_password" name="new_password">
                    </div>
                    <div class="confirm_password col mx-2">
                        <label for="confirm_password" class="form-label">Confirm New
                            Password</label>
                        <input type="text" class="form-input" id="confirm_password" name="confirm_password">
                        <input type="hidden" class="form-input profile-details" id="user" name="user"
                            value="<%= user %>">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark text-warning mt-2">Update Password</button>
                </div>
            </form>
        </div>
    </div>


    <%- include('partials/userFooter.ejs') %>