<%- include('partials/userHeader.ejs') %>



<div class="col-12 d-flex justify-content-center py-5">
    <div class="signup  my-5 p-5  fs-5 " style="background-color: #F3F2EE;">
        <form action="/otp" method="post" class="form-group">
            <h2 class="text-center" fs-3>Verify Your Email</h2>
            <% if (error) { %>
             
                <div class="error fs-6 m-3 p-2 bg-secondary text-center " style="max-width: 24vw;">
    
                    <i class="text-warning"><%= error %></i>
                    
                  
                </div>
            <% } %>
            
            <div class="form-group mt-2">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" value="<%= email %>" readonly>
            </div>
            
            <div class="form-group my-3">
                <label for="otp">OTP:</label><br>
                <input type="text"  id="otp" placeholder="Enter OTP" name="otp" >
            </div>

            <div class="signup text-center">
                <button type="submit" class="btn btn-dark px-5 ">Verify Email</button>
            </div>
        </form>
    </div>
</div>



<%- include('partials/userFooter.ejs') %>
